<center style="margin-top: 25px;">
	<div style="background-color: rgba(255, 255, 200, 0.4); border-radius: 11px; border: 1px solid black; border-spacing: 15px; padding:10px; display:table; margin:0 auto;">
		<i>
			<TMPL_VAR NAME=T::MENU.BESCHREIBUNG>
		</i>
	</div>
</center>

<div style="height:15px;"></div>

<center>
	<div class="<TMPL_VAR NAME=STATUSCLASS>" style="border-radius: 11px; border: 1px solid black; padding:10px; display:table; margin:0 auto;">
		<b><TMPL_VAR NAME=T::FORMTABLE.STATUS_LABEL></b> <TMPL_VAR NAME=STATUSTEXT>
	</div>
</center>

<div style="height:15px;"></div>

<form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi">
	<input type="hidden" name="saveformdata" value="1">
	<table border=0 width="100%" cellpadding="10">
		<tr>
			<td colspan=4>
				<h2><TMPL_VAR NAME=T::FORMTABLE.GENERALSETTINGS></h2>
			</td>
		</tr>
		<tr> <!-- 2. Zeile -->
			<td width="20%" valign="top">
				<label id="labelauto"><TMPL_VAR NAME=T::FORMTABLE.ZEHNDER_KONFIG></label>
			</td>
			<td width="55%">
				<table>
					<tbody>
						<tr>
							<td width="190px" style="vertical-align: middle;">
								<label id="labeliplanc"><TMPL_VAR NAME=T::FORMTABLE.IPLANC></label>
							</td>
							<td style="vertical-align: middle;">
								<input id="iplanc" onChange="disable_rescan()" name="iplanc" type="text" minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" value="<TMPL_VAR NAME=IPLANC>">
							</td>
							<td style="vertical-align: middle;">
								<a id="btnrescan" data-icon="refresh" data-role="button" data-mini="true" href="./index.cgi?rescan=1"><TMPL_VAR NAME=T::BUTTON.RESCAN></a>
							</td>
						</tr>
						<tr>
							<td width="190px" style="vertical-align: middle;">
								<label id="labelpin"><TMPL_VAR NAME=T::FORMTABLE.PIN></label>
							</td>
							<td style="vertical-align: middle;">
								<input id="pin" name="pin" type="text" class="textfield" value="<TMPL_VAR NAME=PIN>"
								data-validation="number"
								data-validation-allowing="range[0000;9999]"
								data-validation-error-msg="PIN: Bitte einen gültigen PIN zwischen 0000 and 9999 eingeben.">
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td width="5%" valign="middle">
				&nbsp;
			</td>
			<td width="20%">
				<font size="-1"><TMPL_VAR NAME=T::FORMTABLE.ZEHNDER_HELP2></font>
			</td>
		</tr>
			
		<TMPL_LOOP NAME=ROWS>
		</TMPL_LOOP>

		<tr>
			<td width="20%" valign="top">
				<label id="labelwatchdog"><TMPL_VAR NAME=T::FORMTABLE.WATCHDOG_LABEL></label>
			</td>
			<td width="55%">
				<table>
					<tbody>
						<tr>
							<td width="190px" style="vertical-align: middle;">
								<label id="labelwatchdogenabled"><TMPL_VAR NAME=T::FORMTABLE.WATCHDOG_ENABLED></label>
							</td>
							<td style="vertical-align: middle;">
								<input id="watchdog_enabled" name="watchdog_enabled" type="checkbox" value="1" data-role="none" style="margin:0; width:20px; height:20px; vertical-align:middle;" <TMPL_VAR NAME=WATCHDOG_ENABLED_CHECKED>>
							</td>
						</tr>
						<tr>
							<td width="190px" style="vertical-align: middle;">
								<label id="labelwatchdogthreshold"><TMPL_VAR NAME=T::FORMTABLE.WATCHDOG_THRESHOLD></label>
							</td>
							<td style="vertical-align: middle;">
								<input id="watchdog_threshold" name="watchdog_threshold" type="number" class="textfield" min="1" max="60" value="<TMPL_VAR NAME=WATCHDOG_THRESHOLD>">
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td width="5%" valign="middle">
				&nbsp;
			</td>
			<td width="20%">
				<font size="-1"><TMPL_VAR NAME=T::FORMTABLE.WATCHDOG_HELP></font>
			</td>
		</tr>

		<tr>
			<td>
				&nbsp;
			</td>
			<td colspan=3>
				<div id="form-error-message" class="form-error-message"></div>
			</td>
		</tr>
		<tr>
			<td colspan=4>
				<h2>MQTT</h2>
			</td>
		</tr>
		<tr>
			<td colspan=4>
				<p class="<TMPL_VAR NAME=mqtthintclass>"><TMPL_VAR NAME=mqtthint></p>
			</td>
		</tr>
	</table>

	<p>
		<center>
			<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete"
				href="/admin/index.cgi"><TMPL_VAR NAME=T::BUTTON.CANCEL>
			</a>
			<button type="submit" form="main_form" id="btnsubmit" data-role="button" data-inline="true"
				data-mini="true" data-icon="check"><TMPL_VAR NAME=T::BUTTON.SAVE>
			</button>
		</center>
	</p>
</form>

<script>
	// Error messages
	var $messages = $('#form-error-message');
	$.validate({
		modules : 'security',
		scrollToTopOnError : true,
		errorMessagePosition : $messages,
	});
	<!-- Button Rescan deaktivieren, falls keine IP und PIN eingegeben wurde. -->
	disable_rescan();
	
	function disable_rescan() {
		if ( $( "#iplanc" ).val() != "" ) {
				$( "#btnrescan" ).addClass('ui-disabled');
		}
		if ( $( "#iplanc" ).val() == "" ) {
			$( "#btnrescan" ).removeClass('ui-disabled');
		}
	}
</script>

